# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# macOS Finder specific files
Icon

# macOS metadata
._*
.Spotlight-V100
.Trashes

# Visual Studio Code settings
.vscode/
*.code-workspace

# Node modules
yarn.lock
node_modules/

# Python environment
*.pyc
__pycache__/
*.pyo
*.pyd

# Logs
*.log

# Temporary files
*.tmp
*.swp

# Build directories
dist/
build/

# IDEs
.idea/

# Miscellaneous
Thumbs.db
*.bak
*.old
*.orig
*.swp
*.swo
